/*-- scss:defaults --*/

// fonts
$presentation-heading-color: #C41230;
$presentation-h2-font-size: 1.2em;
$presentation-font-smaller: 0.8;
$code-block-font-size: 0.7em;

.reveal code {
  font-size: 0.8em !important;
}